* {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}
/*Global*/

.margin {
	margin: 0 180px;
}

.green {
	color: cyan;
}

/*Login*/

.login {
	background-color: dimgray;
	color: white;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.login p {
	float: left;
	/*height: 40px;
	box-sizing: border-box;*/
	padding: 0 20px;
	/*border: 1px solid black;*/
	
}

.login a {
	text-decoration: none;
	color: white;
}

a.green {
	color: cyan;
}

.social {
	float: right;
}

.login i {
	padding: 0 10px;
}

/*______________Header_____________*/

header {
	width: 100%;
	height: 80px;
	color: dimgray;
	line-height: 80px;
}

header h1 {
	float: left;
}

nav {
	float: right;
}

nav li {
	list-style-type: none;
	float: left;
}

nav a {
	text-decoration: none;
	color: dimgray;
	padding: 0 20px;

}

nav i {
	border: 2px solid dimgray;
	border-radius: 50%;
	padding: 7px;
}

/*_________Slider___________*/

.slider {
	width: 100%;
	height: 600px;
	background-image: url(Images/main.jpg);
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
}

.color {
	width: 100%;
	height: 600px;
	background-color: rgb(105,105,105, 0.8);
	position: relative;
}

.slider h1 {
	padding-top: 200px;
}

.slider p {
	padding: 30px 0;
}


button.show {
	background-color: cyan;
	color: white;
	padding: 20px;
	border:1px solid cyan;
	font-weight: bold;
	font-size: 18px;

} 

button.info {
	font-size: 18px;
	font-weight: bold;
	padding: 20px;
	background-color: transparent;
	border:1px solid white;
	color: white;
	box-sizing: border-box;
}

.rightArrow {
	width: 60px;
	height: 60px;
	background-color: gray;
	opacity:0.5;
	position: absolute;
	right:0px;
	top:270px;
	font-size: 30px;
	line-height: 60px;
}

.leftArrow {
	width: 60px;
	height: 60px;
	background-color: gray;
	opacity:0.5;
	position: absolute;
	left:0px;
	top:270px;
	font-size: 30px;
	line-height: 60px;
}

.leftArrow:hover, .rightArrow:hover {
	background-color: cyan;
	opacity: 1;
}

.find {
	width: 100%;
	height: 80px;
	background-color: dimgray;
	color: white;
	line-height: 80px;
}

.find h2 {
	float: left;

}

.find form {
	float: right;
}

.find form input {
	width: 200px;
	height: 30px;
	margin: 25px;
	float: left;
	font-size: 16px;
}

.find form p {
	float: left;
} 

.find button {
	height: 30px;
	background-color: cyan;
	color: white;
	padding: 0 20px;
	font-size: 16px;
}

/*_______special Offers______*/

.offers {
	width: 100%;
	height: 450px;
	text-align: center;
	color: dimgray;
}

.offers h1 {
	text-transform: uppercase;
	padding: 25px 0;
}

.offers p {
	margin-bottom: 20px;
}

.offers img {
	width: 16%;
	height: 200px;
	border: 2px solid lightgray;
	border-bottom-width: 60px;
}

.offers img:hover {
	border:4px solid cyan;
	border-bottom:60px solid dimgray;
}

/*_____Holidays_________*/

.holidays {
	width: 100%;
	height:450px;
	background-image: url(Images/Historical.jpg);
	background-size:cover; 
	background-position: center;
	color: white;
	text-align: center;
}

.holidays .color {
	height: 450px;
}

.holidays i {
	font-size: 90px;
	border: 2px white solid;
	border-radius: 50%;
	padding: 30px;
	margin: 20px;
}

.holidays i:hover {
	color: cyan;
	border:2px solid cyan;
}

.holidays h1 {
	padding-top: 90px;
}

.holidays p {
	margin: 20px 0;
}

/*_______Happy clients_________*/

.clients {
	width: 100%;
	height: 400px;
	color: dimgray;
	text-align: center;
	position: relative;
}

.clients h1 {
	padding-top: 60px;
	padding-bottom: 30px;
}

.comment {
	width:400px;
	height:120px;
	border: 1px solid gray;
	float: left;
	margin: 13px;
	margin-top: 30px;
	text-align: left;
	padding: 10px;
	box-sizing: border-box;
	opacity: 0.5;
}

.comment:hover {
	opacity: 1;
	border-top:3px solid cyan;
}

.one {
	position: absolute;
	left:-200px;
}

.two {
	margin-left: 240px;
}

/*____Bottom_____*/

.bottom {
	width: 100%;
	height: 300px;
	background-color: dimgray;
	color: white;
}

.bottomDiv {
	width: 23%;
	float: left;
	padding-top: 70px;
	margin: 1%;	
}

.bottomDiv h1 {
	font-size: 22px;
	margin-bottom: 15px;
}

.newsletter input {
	width: 80%;
	height: 20px;
	margin-top: 10px;
}

.newsletter button {
	color: white;
	font-weight: bold;
	background-color: cyan;
	border:none;
	width: 15%;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
}

.news img {
	width: 17%;
	height: 40px;
	border:1px solid white;
	margin-bottom: 30px;

	float: left;
	}

.news .text {
	float: right;
	width: 80%;
	margin-bottom: 20px;
}

.tags div {
	border:1px solid white;
	float: left;
	font-size:12px;
	padding: 5px;
	margin: 5px;
}

.address .social {
	float: left;
	margin: 10px;
}

.address .social i {
	padding:20px;
	padding-left: 0px;
}

.address p, .address span {
	float: left;
}

/*_______Footer____*/
footer {
	width: 100%;
	height: 150px;
	background-color: dimgray;
	border-top: 1px solid lightgray;
	color: white;
	text-align: center;
	position: relative;
}

footer ul {
	width: 60%;
	height: 60px;
	margin:0 auto;
}

footer li {
	float: left;
	list-style-type: none;
	width: 14%;
	line-height: 60px;
}

footer p {
	font-size: 16px;
	color: lightgray;
}

.triangle {
	width: 0px;
	height: 0px;
	border:30px solid transparent;
	border-bottom: 30px solid cyan;
	position: absolute;
	bottom:0px;
	left:700px;
	color: white;
	text-align: center;
}

.triangle i {
	/*margin-top: 40px;*/
	position: absolute;
	bottom:-30px; 
	left: -8px;
}

.triangle a {
	color: white;
}