* {
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

/*_______Global______*/

.margin {
	margin: 0 100px;
}

.bold {
	font-weight: bold;
}

.margin-heading {
	font-weight: normal;
	padding:40px;
}

.margin-bottom {
	padding-bottom: 40px;
}


/*____________________________
Header
____________________________*/

header {
	width: 100%;
	height: 80px;
	background-color: #24485d;
	color: white;
	line-height: 80px;
}

header i {
	color: #1bbe9f;
	font-size: 30px;
	float: left;
	padding: 25px;
	padding-left: 0px;
}

header h1 {
	float: left;
	font-size: 20px;
}

nav {
	float: right;
	width: 40%;
}

nav ul {
	display: flex;
	justify-content: space-between;
}
nav li {
	list-style-type: none;
	font-size: 14px;
}

nav a {
	text-decoration: none;
	color: white;
}


/*_______Landing______*/

.landing {
	background-color: #24485d;
	width: 100%;
	height: 600px;
	color: white;
}
.landing-text {
	width: 60%;
	height: 450px;
	float: left;
	margin: 75px 0;
}

.landing-text h1 {
	font-weight: normal;
}

.landing-text p {
	margin: 20px 0;
}

.landing-text li {
	line-height: 3.5;
}

.free-trial {
	width: 40%;
	height: 450px;
	background-color: #1e3d4f;
	float: right;
	margin: 75px 0;
}

.free-trial h1 {
	padding: 25px;
}

.free-trial input, 
.free-trial button {
	width: 85%;
	height: 35px;
	margin: 13px 25px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	padding-left: 10px;
	box-sizing: border-box;
}

.free-trial button {
	background-color: #ed5f6b;
	color: white;
}

.free-trial p {
	padding: 25px;
}

/*_________Brief Introduction_________*/

.introduction {
	width: 100%;
	height: 550px;
	text-align: center;
	background-color: #f7f7f7;
	color: #333333;
}

.introduction img {
	float: left;
	width: 50%;
}

.introduction h1{
	padding-top: 30px;
	font-weight: normal;
}

.introduction p {
	padding: 20px 0 50px;
}

.intro-text {
	float: left;
	text-align: left;
	width: 50%;
	padding-left:25px;
	box-sizing: border-box;
	line-height: 1.5;
}
.intro-text ol, .intro-text li {
	padding-left: 20px;
}

.intro-text li {
	line-height: 2;
}

/*______Features_______*/

.features {
	width: 100%;
	height: 400px;
	color: #333333;
	text-align: center;
}



.components {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}

.component {
	width: 33%;

}

.component i {
	background-color: #1bbe9f;
	color: white;
	font-size:50px;
	padding: 15px;
	border-radius: 5px;
	width: 20%;
	float: left;
	box-sizing: border-box;
}

.feature-text {
	width: 80%;
	height: 80px;
	float: left;
	text-align: left;
	font-weight: normal;
	padding-left: 15px;
	box-sizing: border-box;
}

.feature-text h1 {
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 10px;
}

/*________Showcase___________*/

#showcase {
	width: 100%;
	height: 750px;
	color: white;
	background-color: #24485d;
	text-align: center;
}

.images {
	display: flex;
	width: 100%;
	height: 450px;
	position: relative;
	justify-content: space-around;
}

.img2 {
	width: 650px;
	height: 400px;
	z-index: 1;
	position:absolute;
	border-radius: 10px;
}

.img {
	height: 300px;
	width: 400px;
	margin-top: 50px;
	border-radius: 10px;
}

.one:hover {
	z-index: 2;
	width: 650px;
	height: 400px;
}

.three:hover {
	z-index: 1;
	width: 650px;
	height: 400px;
}

.dots {
	display: flex;
	width: 100px;
	margin: 0 auto;
	justify-content: space-around;
	margin-bottom: 30px;
}

.dot {
	width: 0;
	height: 0;
	border: 5px solid #e5e5e5;
	border-radius: 50%;
}













