* {
	margin: 0px;
	padding: 0px;
}


.mydiv {
	width: 50px;
	height: 50px;
	border-top: 1px solid red;
	border-left: 1px solid black;
	border-right: 1px solid orange;
	border-bottom: 1px solid green;
	background-color: violet;
	animation-name: rotate;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	position: absolute;
	top: 50px;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes rotate {

	0% {
		top:50px;
		left: 0px;
	}

	25% {

		top:50px;
		left: 50px;
		transform: rotate(90deg);

	}

	50% {

		top:50px;
		left: 100px;
		transform: rotate(180deg);

	}

	75% {

		top:50px;
		left: 150px;
		transform: rotate(270deg);

	}

	100% {

		top:50px;
		left: 200px;
		transform: rotate(360deg);

	}

}