* {
	margin: 0;
	padding: 0;
}
body {
	position: relative;
}
.menu {
	width: 250px;
	height: 400px;
	position:absolute;
	left:-200px;
}

.colored {
	width:200px;
	height: 400px;
	background-color: green;
	float: left;
	
}

.menu:hover {
	left:0px;
	transition: 1s;
	transition-delay: 0.5s;
}


img {
	width:50px;
	float: left;
	
}

