* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: arial;
}

/*Header_______*/

header {
	width: 100%;
	height: 80px;
}

header h1 {
	float: left;
	font-size: 22px;
	line-height: 80px;
	margin-left: 150px;
}

header nav {
	float: right;
	margin-right: 150px;
}

nav li {
	float: left;
	list-style-type: none;
}

nav a {
	text-decoration: none;
	color: gray;
	padding: 0 15px;
	line-height: 80px;

}

/*Slider_______*/

.slider {
	width: 100%;
	height: 600px;
	background-image: url(Images/macbook.jpg);
	background-position: 0 -100px;
	background-size: cover;
	text-align: center;
	color: white;
}

.slider h1 {
	padding-top: 200px;
}

.slider p {
	margin: 20px 350px;
}

.learnMore {
	margin-top: 30px;
	width: 110px;
	height: 40px; 
	background-image: linear-gradient(to right, blue, green);
	border-radius: 50px;
	color: white;
	font-size: 16px;
}

.features {
	background-color: whitesmoke;
	width: 100%;
	height: 400px;
	text-align: center;
}

.features h1 {
	padding-top: 50px;
	padding-bottom: 30px;
}

.features h2 {
	padding: 20px 0;

}
.feature {
	width: 25%;
	height: 250px;
	float: left;
}

.feature i {
	width: 70px;
	height: 70px;
	color: white;
	background-color: deepskyblue;
	font-size: 28px;
	text-align: center;
	border-radius: 50%;
	line-height: 70px;
}

.bigFeature {
	margin: 0 180px;
}

/*About Us*/

.aboutUs {
	width: 100%;
	height: 400px;
}

.aboutUs h3 {
	margin: 20px 0;
}
.aboutUs img {
	width: 300px;
	height: 300px;
	float: left;
	margin: 50px;
	margin-left: 300px;
}

.text {
	float: left;
	width: 600px;
	margin: 50px;

}
.aboutUs .list1, .list2 {
	float: left;
	width: 200px;
}

.services {
	background-color: deepskyblue;
	text-align: center;
	width: 100%;
	height: 600px;
	color: white;
}

.services h1{
	padding-top: 50px;
}

.services p {
	margin-top: 20px;
}
.item {
	width: 30%;
	float: left;
	padding: 10px;
	margin-top:20px;
}
.serviceItems {
	margin: 0 200px;
}

.item i {
	width: 70px;
	height: 70px;
	background-color: darkblue;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 30px;
}



/*Gallery*/

.gallery {
	width: 100%;
	height: 800px;
	text-align: center;
	
}

.gallery h1 {
	padding-top: 50px;
}

.gallery p {
	margin: 20px 0;
}

.images {
	margin:0 300px;
}
.images img {
	width: 33%;
	height: 200px;
	float: left;
}

/*Clients*/

.clients {
	width: 100%;
	height: 600px;
	text-align: center;
	background-color: whitesmoke;
}

.clients h1 {
	padding:100px 0;
}

.client {
	width: 30%;
	float: left;
	height: 120px;
	margin:15px; 
}

.client img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}

.quote {
	font-style: italic;
}

.name {
	float: left;
	font-weight: bold;
	margin-left:60px;
}

/*Meet the Team*/

.team {
	width: 100%;
	height: 600px;
	text-align: center;
}

.team h1 {
	padding-top: 50px;
}

.team p {
	margin: 20px 0;
}

.workers {
	margin: 0 300px;
}

.worker {
	width: 23%;
	float: left;
	margin: 1%;
}

.worker img{
	width: 100%;
}

/*Contacts Get in touch*/

.contacts {
	width:100%;
	height: 600px;
	background-color: deepskyblue;
}
.left {
	float: left;
	width: 60%;
	margin: 50px;
}

.left input {
	width: 50%;
	border:none;
	height: 30px;
}

.one {
	float: left;
}
f
.two {
	float: right;
}

.left textarea {
	width: 100%;
	height: 200px;
}

.right {
	float: right;
	width: 30%;
}





