* {
	margin:0px;
	padding: 0px;
}

header {
	width: 100%;
	height: 80px;
}

.logo {
	width:50px;
	height: 50px;
	border-radius: 50%;
	background-color: darkblue;
	float: left;
	margin: 15px;
	margin-left: 150px;
}

header h1 {
	float: left;
	color: darkblue;
	line-height: 80px;
}

header nav a {
	text-decoration: none;
	color: darkblue;
	border-right: 1px solid darkblue; /* ??? */
	padding: 0 30px;
	text-align: center;
}

header nav li {
	float: left;
	list-style-type: none;
	line-height: 80px;
	font-size: 20px;
	
}


header button {
	float: right;
	height: 30px;
	width:100px;
	margin: 25px;
	margin-right: 150px;
	background-color: deepskyblue;
	color: white;
	border: none;


}

header nav {
	margin: 0 auto;
	width: 40%;
	margin-right: 200px;
}

.slider {
	background-image: url("Images/slider.jpg");
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: center;
	color: white;
}

.text {
	padding: 150px;
	width: 500px;
	padding-top: 100px;
}

.text p {
	margin:30px 0;
}

.slider button {
	width: 230px;
	height: 40px;
	background-color: deepskyblue;
	border: none;
	color: white;
}

.loans {
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-size: 25px;
	color: darkblue;
	text-align: center;
	font-weight: bold;
}

.small p {
	float: left;
	text-align: center;
}

.learnmore {
	background-color: deepskyblue;
	color: white;
	width: 100px;
	height: 30px;
	float: left;
	font-size: 16px;
	margin: 25px 40px;
	border: none;
}

.small {
	width: 50%;
	height: 80px;
	margin: 0px auto;
}

.product {
	width: 100%;
	height: 400px;
}

.product img {
	width: 50%;
	height: 400px;
	float: left;
}
.featured {
	width: 50%;
	height: 400px;
	float: right;
	background-color: gainsboro;
}

.secondText {
	margin: 50px;
}

.secondText p {
	margin: 20px 0;
}

.secondText button {
	margin: 0;
}

.pages {
	width: 100%;
	height: 500px;

}

.pages h1 {
	color: darkblue;
	margin-bottom: 20px;
}

.pages p {
	color: darkgray;
}

.page {
	width: 28%;
	height: 188px;
	border: 1px solid gainsboro;
	margin: 10px;
	padding: 10px;
}

.one, .two, .three {
	float: left;
}

.four {
	clear: left;
	float: left;
}

.five, .six {
	float: left;
}

.all {
	width: 80%;
	height: 80%;
	padding: 20px 0;
	margin: 0 auto;

}

.contact-band {
	width: 100%;
	height: 80px;
	background-color: deepskyblue;
	color: white;
	text-align: center;
}

.contact-band h1 {
	padding-top: 20px;
	font-size: 18px;
}

footer {
	width: 100%;
	height: 90px;
	background-color: darkblue;
}

footer form {
	float: left;
	width: 300px;
	height:60px;
	padding:15px; 
	margin-left: 100px;
}

footer input {
	background-color: powderblue;
	border: none;
}

.firstInput {
	float: left;
	width: 300px;
	height: 20px;
	margin-bottom: 10px;
	
}

.secondInput {
	clear: left;
	width: 200px;
	height: 20px;
}
.socialAll {
	width:230px;
	height: 50px;
	padding: 15px;
	float: right;
}
.social-media {
	background-color: powderblue;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 10px;
	float: left;

}












