
.flip-card {
	width: 300px;
	height: 300px;
	position: relative;
	transition: 1s;
	background-color: orange;
}

.front {
	width: 100%;
	height: 100%;
	position: absolute;
}

.front img {
	width: 100%;
	height: 100%;
}

.back {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: cyan;
	text-align: center;
	color: white;
	transform: rotateY(180deg);
}

 .front:hover {
	opacity: 0;
}

.flip-card:hover {
	transform: rotateY(180deg);
}














