* {
	margin: 0px;
	padding: 0px;
}

header {
	background-color: dimgray;
	color: white;
	height: 70px;
}

header h1 {
	float: left;
	margin: 15px;
}
.orange {
	color: orange;
	margin: 5px;
	font-size: 50px;
}

nav {
	background-color: gray;
	color: white;
	height: 50px;
}

nav li {
	float: left;
	text-decoration: none;
	list-style-type: none;
	color: white;
	padding: 15px;
	border-right: 1px solid black;

}

.content {
	float: left;
	width:74%;
	height: 700px;
}

.content img {
	width:150px;
	height: 150px;
	float: left;
	margin: 15px;
}

.content a {
	text-decoration: none;
	color: orange;
	font-weight: bold;
	font-size: 20px;
}
.text {
	float: left;
	width:70%;
	margin: 10px;
}

.container {
	height: 200px;
}

.sidebar {
	float: right;
	width:20%;
	background-color: gainsboro;
	padding: 20px;
	height: 700px;
}

.sidebar a {
	text-decoration: none;
	list-style-type: none;
	color: orange;
	margin:30px;
	font-weight: bold;
}

.sidebar h1, p {
	margin: 10px;

}

footer {
	width: 100%;
	height: 70px;
	background-color: dimgray;
	color: white;
	float: left;
	text-align: center;
}
footer p {
	margin: 20px;
}

.different {
	color: orange;
}







