

.first {
	background-color: green;
}

.second {
	background-color: yellow;
}

.third {
	background-color: purple;
}

.fourth {
	background-color: violet
}

.big {
	width: 200px;
	height: 100px;
}

.small {
	width: 100px;
	height: 50px;
}


