* {
	margin: 0px;
	padding: 0px;
}

.main {
	width:100px;
	height: 100px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	animation-name: Aysel;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	/*animation-fill-mode: forwards;*/
	animation-direction: alternate; 
}

@keyframes Aysel{
	0% {
		left:0px;
		top: 0px;

	}

	25% {
		left:100px;
		top:100px;

	}

	75% { 
		left:200px;
		top:0px;

	}

	100% {
		left:300px;
		top:100px;

	}
}

.download {
	width: 700px;
	height: 40px;
	background: silver;
	border: 1px solid black;

}

.green {
	background-color: green;
	width: 0px;
	height: 40px;
	animation-name: download;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

@keyframes download {
	0% {
		width:0px;
	}

	100% {
		width:700px;
	}
} 








