* {
	margin: 0px;
	padding: 0px;
}

.main {
	width: 1200px;
	height: 500px;
	background-color: orange;
	position: relative;
	margin: 0 auto;
}

.main img {
	width: 300px;
}

.blue {
	width: 300px;
	height: 150px;
	animation-name: blue;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	position: absolute;
	left:-300px;
}

@keyframes blue {
	0% {
		left: -300px;
		top:0px;

	}

	13%{
		left:1200px;
		top:0px;

	}

	15% {
		left: 1200px;
		top:100px;
		
	}

	50% {
		left: 1200px;
		top:100px;
		transform: rotateY(180deg);

	}

	85% {
		left: -300px;
		top:100px;
	}

	90% {
		left:-300px;
		top:0px;
	}

	100% {
		left:-300px;
		top:0px;
		transform: rotateY(180deg);
	}

}


.black {
	width: 300px;
	height: 150px;
	animation-name: black;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	position: absolute;
	right:-300px;
	top:100px;
	/*animation-delay: 5s;*/
	transform: rotateY(180deg);
}

@keyframes black {
	0% {
		right: -300px;
		top:100px;

	}

	13%{
		right:1200px;
		top:100px;

	}

	15% {
		right: 1200px;
		top:0px;
		
	}

	50% {
		right: 1200px;
		top:0px;
		transform: rotateY(360deg);

	}

	60% {
		right: -300px;
		top:0px;
	}

	65% {
		right: -300px;
		top:100px;
	}

	100% {
		right: -300px;
		top:100px;
		transform: rotateY(180deg);
	}

}