*{
	margin: 0px;
	padding: 0px;
}

body {
	color: white;
}

.light {
	background-color: silver;
}

.dark {
	background-color: dimgray;
}

header {
	width: 100%;
	height: 80px;
}

.logo {
	width: 300px;
	height: 60px;
	text-align: center;
	float: left;
	line-height: 60px;
	margin-top:20px;
}

.search {
	float: right;
	/*width: 30%;*/
}


header button {
	width: 100px;
	height: 30px;
	float: right;
	margin-top:50px;
}

header input {
	width: 300px;
	height: 30px;
	margin-top:50px;
}

nav {
	margin:20px 0px;
	width:100%;
	height: 50px;
}

nav ul li {
	list-style-type: none;
	float: left;
	line-height: 50px;
}

nav li:hover {
	background-color: orange;

}

nav ul a {
	text-decoration: none;
	color: white;
	padding: 0 20px;
}

.first {
	width: 100%;
	height: 200px;
}

.image {
	width:70%;
	height: 200px;
	float: left;
	line-height: 200px;
	text-align: center;
}

.banner {
	width: 30%;
	height: 200px;
	float: right;
}

.banner li {
	list-style-type: none;
	height: 49px;
	text-align: center;
	line-height: 49px;
	border-bottom: 1px solid silver;
}

.second {
	width: 100%; /* her birine olcu vermeye ehtiyav var boyuk divlere?*/
	height: 400px;
	margin: 20px 0;
}

.secondLeft {
	width: 70%;
	height: 400px;
}

.up {
	width: 100%;
	height: 150px;
}

.upFirst {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.upSecond {
	width: 100%;
	height: 110px;  /* abzasi nece ortaya getirmek lazimdi? */
}

.middle {
	width: 100%;
	height: 50px;
	margin: 20px 0;
	line-height: 50px;
}

.bottom {
	width: 100%;
	height:160px;
}

.bottomImage {
	width: 209px;
	height: 160px;
	float: left;
	margin-right: 20px;
	text-align: center;
	line-height: 160px;
}

.without {
	margin-right: 0px;
}




