.container {
	width: 400px;
	height: 400px;
	border: 1px solid black;
	position: relative;
}

.green {
	width: 50px;
	height: 50px;
	background: green;
	position: absolute;
	animation-name: snake;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes snake {
	from {
		width:50px;
	}

	to {
		width: 100%;
	}
}

.moveRight {
	width: 50px;
	height: 50px;
	background-color: red;
	position: absolute;
	animation-name: snake2;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes snake2 {
	from {
		left:0px;
	}

	to {
		left:350px;
	}
}

.stretchDown {
	width: 100%;
	height: 100%;
	background-color:orange;
	position: absolute;
	animation-name: down;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes down {
	from {
		height: 50px;
	}

	to {
		height: 400px;
	}

}

.moveDown {
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: blue;
	animation-name: bottomd;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 1s; 
}

@keyframes bottomd {
	from{
		top:0px;
	}

	to {
		top:350px;
	}
}

.stretchLeft {
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: pink;
	animation-name: lefta;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 2s;

}

@keyframes lefta {
	from {
		width: 50px;
		right: 0px;
	}

	to {
		width: 400px;
		right: 0px;
	}
}

.moveLeft {
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: yellow;
	animation-name: moveLeft;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

@keyframes moveLeft {
	from {
		right: 0px;

	}

	to {
		right: 350px;

	}
}

.stretchUp {
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: violet;
	animation-name: up;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}

@keyframes up {
	from {
		height: 50px;
		bottom:0px;

	}

	to {
		height: 400px;
		bottom:0px;

	}
}

