* {
	margin: 0px;
	padding: 0px;
}

.small {
	background-color: orange;
	width: 40px;
	height: 30px;
	margin: 30px;
	float: left;
	padding: 5px;
}

.big {
	background-color: silver;
	width:190px;
	height: 100px;
	float: left;

}

.first {
	margin-right: 15px;
}

.second {
	margin-left: 15px;
}

.padding {
	width: 40px;
	height: 30px; 
	background-color: red;
}