
.main {
	width: 300px;
	height: 200px;
	border: 3px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.big {
	width: 150px;
	height: 80px;
	/*border: 1px solid black;*/
	background-color: orange;
}

.small	{
	width: 90px;
	height: 60px;
	/*border: 1px solid black;*/
	background-color: blue;
}