* {
	margin: 0px;
	padding: 0px;
	font-family: helvetica;
}

/*______Header__________*/

.company img {
	width: 70px;
	float: left;
}

.company {
	float: left;
	width: 40%;
}

.company h1 {
	margin: 10px;
}

.nav-bar {
	float: right;
	width: 60%;
}

.nav-bar a {
	float: left;
	width: 10%;
	text-decoration: none;
	list-style: none;
	padding: 10px;
	font-size: 20px;
	color: black;
	text-align: center;
	margin: 10px;
}

.nav-bar a:hover {
	border: 1px solid black;
	border-radius: 10px;
	background-color: black;
	color: white;
	font-weight: bold;
}

header button {
	float: right;
	background-color: #FFA215;
	color: white;
	font-weight: bold;
	padding: 10px;
	border-radius: 10px;
	border-color: #FFA215; 
	margin: 10px;
	font-size: 16px;
	margin-right: 30px;

}

header button:hover {
	color: black;
	border: 2px solid black;
	

}

header {
	height: 80px;
}

/*__________Slider__________ */

.slider {

	background-image: url("Images/macbook.jpg");
	height: 800px;
	width: 100%;
	background-position: center;
	background-size: cover;
	color: white;
	text-align: center;
}

.slider h1 {
	font-size: 90px;
	padding-top: 180px;
}

.slider p {
	margin:30px 200px 30px 200px;
	font-size: 20px;
}

.slider .explore {
	font-size: 18px;
	padding: 15px;
	margin: 15px;
	border-radius: 30px;
	background-color: #FFA215;
	color: white;
	font-weight: bold;
	border: 2px solid #FFA215;

}

.slider .explore:hover {
	color: black;
	border: 2px solid black;
}


.slider .purchase {
	font-size: 18px;
	padding: 15px;
	margin: 15px;
	border-radius: 30px;
	background-color: white;
	color: black;
	font-weight: bold;
	border-color: #FFA215;
}

.slider .purchase:hover {
	background-color: black;
	color: white;
	border-color: black; 
}

/*_______Content________*/

.Services {
	text-align: center;
	margin: 40px;
}

.Services h2 {
	font-size: 50px;
}

.Services p {
	font-size: 20px;
	margin-top: 15px;
}



.one, .two , .three , .four {
	border-radius: 10px;
	width: 22%;
	height: 300px;
	margin: 8px;
	text-align: center;
	padding: 10px;
	background-color: #FFDDBA;
}

.one:hover, .two:hover , .three:hover , .four:hover {
	background-color: white;
}

.one, .two {
	float: left;
}

.three, .four {
	float: right;
}

.content {
	height: 850px;
}

/* _____Footer _______*/

footer {
	background-color: black;
	height: 70px;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}

footer p {
	margin: 5px;
}


